/* Classic style for WampServer */

* {
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
}

html {
	/* background: darkgrey; */
	background-image: linear-gradient(to right top, #f4b4d8, #d19cc8, #ae86b7, #8871a6, #625d93, #4a5a8f, #2f5789, #005481, #005f83, #006880, #007179, #0f7871);background-color: #cc00cc;
}

body {
	margin-left: 5px;
	margin-top: 5px;
	margin-right:5px;
	margin-bottom: 5px;
	margin: 1em 10%;
	padding: 1em 3em;
	font: 80%/1.4 arial;
	width: 100%;
	height: 100%;
	border: 1px solid #999;
	background: #eee;
	position: relative;
}

.innerhead {
	margin-bottom: 1em;
	margin-top: 1em;
	padding-bottom: 0em;
	border-bottom: 1px solid #999;
	letter-spacing: -500em;
	text-indent: -500em;
	height: 100px;
	background: url('img/1.jpg') 0 0 no-repeat;
}

.utility {
	position: absolute;
	right: 4em;
	top: 115px;
	font-size: 0.85em;
}

.utility li {
	display: inline-block;

}

h2 {
	margin: 0.8em 0 0 0;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}


ul.aliases, ul.projects, ul.tools, ul.vhost {
	list-style: none;
	line-height: 24px;
}

ul.projects {
	max-width:180px;
}

ul.aliases a, ul.projects a, ul.tools a ,ul.vhost a {
	padding-left: 22px;
	background: url('img/pngFolder.png') 0 100% no-repeat;
}

ul.tools a {
	background: url('img/pngWrench.png') 0 100% no-repeat;
}

ul.aliases a, ul.vhost a {
	background: url('img/pngFolderGo.png') 0 100% no-repeat;
}

li.projectsdir {
	line-height:50%;
	margin-top:5px;
	padding-right:5px;
	font-size: 0.72em;
	color: #04569A;
}

dl {
	margin: 0;
	padding: 0;
}

dt {
	font-weight: bold;
	text-align: right;
	width: 11em;
	clear: both;
}

dd {
	margin: -1.35em 0 0 12em;
	padding-bottom: 0.4em;
	overflow: auto;
}
dd ul li {
	float: left;
	display: block;
	width: 16.5%;
  min-width: 140px;
	margin: 0;
	padding: 0 0 0 20px;
	background: url('img/pngPlugin.png') 2px 50% no-repeat;
	line-height: 1.35;
}

.divider1 {
    margin-top:5px;
    border-top:1px solid #999;
}

.divider2 {
    clear:both;
}

a {
	color: #024378;
	font-weight: bold;
	text-decoration: none;
}

a:hover {
	color: #04569A;
	text-decoration: underline;
}
 #error {
	text-align: center;
	margin-top: 1.8em;
	border-top: 1px solid #999; 
	padding-top: 1em;
	font-size: 0.85em;
}

.column {
    min-width: 220px;
    float:left;
}

.three-columns .column {
    min-width: 32%;
}
.four-columns .column {
    min-width: 23%;
}

@media screen and (max-width: 750px) {

    dt {
    	text-align: left;
    	width: 100%;
    	clear: left;
        margin: 2% 0 0 0;
    }

    dd {
    	margin: 0;
    	padding: 0.5% 1.5% 1% 1.5%;
    }
}