/* Simple style for WampServer */

* {
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
}
html {

	font-family: Arial;
}

body {
	margin-left: 5px;
	margin-top: 5px;
	margin-right:5px;
	margin-bottom: 5px;
	font-family: Arial;
	width: 100%;
	height: 100%;
}

.config, .alltools {
	padding: 1em;
}

h1 {
	margin: 0;
	padding: 0;
	
	font-weight: normal;
	/* text-shadow: 1px 1px 0 #000; */
}

h2 {
	margin: 0;
	padding: 0;
	font-size: 1.5em;
	clear: left;
	font-weight: normal;
}

ul.aliases, ul.projects, ul.tools, ul.vhost, dd ul {
	list-style: none;
	margin: 0 1.2em 1em 1.2em;
	padding: 0;
}


ul.aliases li, ul.projects li, ul.tools li, ul.vhost li, dd ul li {
	float: left;
	margin: 1em;
	padding: 0.5em;
	width: 200px;
	text-align: center;
}
li.projectsdir {
	line-height:95%;
	margin-top:5px;
	padding-right:5px;
	font-size: 0.72em;
	color: #04569A;
}
dd ul li {
	background: lightblue;
	color: dimgrey;
}

.aliases li {
	background: green;
}

.projects li {
	background: skyblue;
}

.tools li {
	background: lightpink;
}

.vhost li {
	background: thistle;
}

dl {
	margin: 1.2em;
	padding: 0;
}

dt {
	margin: 0 1em;
	padding: 0;
	text-decoration: underline;
	clear: left;
}

dd {
	margin: 0;
	padding: 0.5em 1.5em;
}

a {
	color: black;
	text-decoration: none;
}

a:hover {
	color: #000;
}

